// Import page-specific CSS files here.
@import "home";
@import "my_landmarks";

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

// .listing-card:hover{
//   color: #167FFB;
//   text-decoration: none;
//   font-weight: 900;
// }

// .universe-padding {
//   padding: 0 8%;
// }
