h1 {
  padding: 50px 0;
  font-size: 32px;
  font-weight: 400;
}

h2 {
  font-size: 32px;
  font-weight: 400;
}

h3 {
  font-size: 24px;
  font-weight: 400;
}

p {
  font-size: 16px;
  font-weight: 200;
}

.host_name {
  font-size: 16px;
  font-weight: 200;
}

#title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#add-landmark-btn {
  padding: 10px 25px;
}
#add-landmark-btn:hover {
  color: rgba(255, 255, 255, 0.5);
}
