  <div class="row justify-content-center">
      <h1>Landmarks</h1>
  </div>

<div class="universe-padding">
  <div class="row">
          <% @landmarks.each do |l| %>
            <div class="col-4">
              <%= link_to landmark_path(l), class:"listing-card" do %>
                  <div class="card-trip mb-4">
                    <img src="https://source.unsplash.com/random" />
                    <div class="card-trip-infos">
                      <div>
                        <h4><%= l.name %></h4>
                        <p><strong><%= l.location %></strong></p>
                        <p>£<%= l.price_per_day.to_i %> / day</p>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
          <% end %>
  </div>
</div>
