  <div class="row justify-content-center">
      <h1>Landmarks</h1>
  </div>

<div class="row justify-content-center">
        <% @landmarks.each do |l| %>
              <div class="col-4">
                <div class="card-trip ">
                  <img src="https://source.unsplash.com/random" />
                  <div class="card-trip-infos">
                    <div>
                      <h4><%= l.name %></h4>
                      <p><strong><%= l.location %></strong></p>
                      <p>£<%= l.price_per_day.to_i %> / day</p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
</div>
