<div class="container">
  <div class="row justify-content-center">
    <div class="col-xs-12 col-sm-6 ">
      <div class="form-landmark">
        <h2>New Landmark</h2>
        <%= render 'form', landmark:@landmark %>
      </div>
    </div>
  </div>
</div>
