<div class="col-4">
  <div class="flat-show-card">
    <h5>Book this place!</h5>

    <form action="">
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">From:</span>
        <input type="text" class="form-control" placeholder="12/10/2017" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <div class="input-group mt-2">
        <span class="input-group-addon" id="basic-addon1">To:</span>
        <input type="text" class="form-control" placeholder="18/10/2017" aria-label="Username" aria-describedby="basic-addon1">
      </div>
      <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
    </form>
  </div>
</div>
