.cards-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-container {
  display: flex;
  justify-content: space-between;
}

.map-index {
  min-width: 350px;
  height: 600px;
  margin-left: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: sticky;
  top: 40px;
}
